<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">angular components</h3>
</div>


<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>

    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>

    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">

    <h4>CKEditor</h4>

    <p>
        Inline

    <div id="editable" ckeditor contenteditable="true" ng-model="ckeditorContent">

    </div>

    </p>

    <h4>Table</h4>

    <div style="width:300px;border:6px green solid;">
        <table scroll-table border="1" width="100%" id="tblNeedsScrolling">
            <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>row 1, cell 1</td>
                <td>row 1, cell 2</td>
            </tr>
            <tr>
                <td>row 2, cell 1</td>
                <td>row 2, cell 2</td>
            </tr>
            <tr>
                <td>row 3, cell 1</td>
                <td>row 3, cell 2</td>
            </tr>
            <tr>
                <td>row 4, cell 1</td>
                <td>row 4, cell 2</td>
            </tr>
            <tr>
                <td>row 5, cell 1</td>
                <td>row 5, cell 2</td>
            </tr>
            <tr>
                <td>row 6, cell 1</td>
                <td>row 6, cell 2</td>
            </tr>
            <tr>
                <td>row 7, cell 1</td>
                <td>row 7, cell 2</td>
            </tr>
            <tr>
                <td>row 8, cell 1</td>
                <td>row 8, cell 2</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>

    <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
    <p>♥ from the Yeoman team</p>
</div>
